.login-card {
    align-items: center;
    background-color: rgb(50, 47, 66);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; 
    color: white;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 1.8rem;
    color: white;
    margin-bottom: 20px;
    text-align: center;
}


.input-group {
    position: relative;
    margin-bottom: 15px;
}

.input-group .input-group-text {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    padding: 10px;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
}

input.form-control {
    padding-right: 40px;
    height: 40px;
}

.signup-link a, .recall-forget a {
    color: #007bff;
    text-decoration: none;
}

.signup-link a:hover, .recall-forget a:hover {
    text-decoration: underline;
}


.recall-forget {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}


button[type="submit"] {
    background-color: #007bff;
    border: none;
    font-size: 1rem;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}


form {
    width: 100%;
}


@media (max-width: 768px) {
    .login-card {
        padding: 20px;
        width: 90%;
    }

    h2 {
        font-size: 1.6rem;
    }

    .signup-link p {
        font-size: 0.9rem;
    }
}